body {
  background-color: darkslategrey;
}

.jumbotron {
  background-image: url(../img/portland.jpg);
  background-size: cover;
  background-position: center;
  font-family: Impact;
  color: ghostwhite;
  text-align: center;
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px -1px 0 black;
}

img {
  display: block;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

.panel {
  text-align: center;
  font-family: sans-serif;
}

.styled-text {
  font-weight: bold;
  text-decoration: underline; 
}

#panel-3 {
  text-align: left;
}

.header {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: lightgrey;
  padding: 10px;
}

#objectives {
  font-weight: bold;
  text-align: left;
}